body {
    background: #91e2e2be;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.box {
    background: #8be966b9;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #c9cf6e;
}

input {
    width: 220px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #972222c2;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    background: #0c1fe9;
    color: #18acc0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #2e3aff;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}